<mat-list>
  <h3 mat-subheader>Todos</h3>

  <mat-list-item *ngFor="let todo of activeTodos">
    <h4 mat-line>{{todo.message}}</h4>
    <p mat-line class="todo-id">{{todo.id}}</p>
    <button mat-icon-button color="primary" (click)="completeTodo(todo)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTodo(todo)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Completed</h3>

  <mat-list-item *ngFor="let todo of completedTodos">
    <h4 mat-line>{{todo.message}}</h4>
    <p mat-line class="todo-id">{{todo.id}}</p>
    <button mat-icon-button color="primary" (disabled)="true" (click)="completeTodo(todo)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTodo(todo)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<div class="input-form">
  <mat-form-field>
    <input matInput placeholder="description" [(ngModel)]="todoMessage">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
</div>
