mat-sidenav {
    width: 200px;
    mat-nav-list > a {
        font-size: 12px;
        font-weight: 500;
    }
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.search-input {
    top: 5px;
    margin-left: 30px;
    width: 400px;
}

.spacer {
    display: flex;
    flex: 1 1 auto;
}

.desktop-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

::ng-deep .dark-theme .mat-toolbar mat-form-field.search-input {
    width: 400px;

    .mat-form-field-label {
        color: rgba(255,255,255,0.7);
    }
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    flex: 1;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}

.down-count {
    color: #ff5722;
}

.up-count {
    color: #22ff57
}

::ng-deep .dark-theme {
    .down-count {
        color: #ff5722;
    }
}

.header {
    display: flex;

}

.mat-nav-list .mat-subheader.down-count-header {
    margin-top: -8px;
}