<a class="site-link" mat-button (click)="navigate(site.uri)">
  <div class="wrapper">
    <div style="display: flex;">
      <span *ngIf="!site.isSupportedApp" class="site-icon iconify icon" [attr.data-icon]="site.mdiicon()"></span>
      <img *ngIf="site.isSupportedApp" class="site-image" src="/assets/supportedapps/{{site.icon}}" />
    </div>
    <div class="site-info">
      <div class="title">{{site.name | uppercase}}</div>
      <div class="small">{{site.ip}}</div>
    </div>
    <button *ngIf="site.isStatusLoaded" mat-mini-fab class="status mat-elevation-z2" [class.status-up]="site.isUp"
      [class.status-down]="!site.isUp && site.isStatusLoaded">
      <span *ngIf="site.isUp" class="iconify icon" data-icon="mdi-check"></span>
      <span *ngIf="!site.isUp" class="iconify icon" data-icon="mdi-exclamation-thick"></span>
    </button>
  </div>
</a>