<div class="card-input">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="site.friendlyName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="URI" [(ngModel)]="site.uri">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Icon" [(ngModel)]="site.icon" (ngModelChange)="iconChanged($event)">
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="site.isSupportedApp">Supported App</mat-slide-toggle>
</div>

<mat-form-field class="tag-input">
  <mat-chip-list #tagList>
    <mat-chip *ngFor="let tag of site.tags; let idx = index" [removable]="true" (removed)="removeTag(tag)">
      {{tag.value}}
      <mat-icon matChipRemove><span class="iconify icon chip-remove" data-icon="mdi-close-circle" matChipRemove (click)="removeTag(tag)"></span></mat-icon>
    </mat-chip>
    <input matInput placeholder="Tags" [matChipInputFor]="tagList" (matChipInputTokenEnd)="addTag($event)" />
  </mat-chip-list>
</mat-form-field>