    .card-input mat-form-field {
        margin-right: 20px;
    }

.tag-input {
    width: 100%;
    margin-bottom: 5px;
}


.card-input {
    display: flex;
    flex-wrap: wrap;
}

.card-input>* {
    flex: 1 1 320px;
}


.mat-chip-remove.chip-remove {
    margin-left: 0;
}

.mat-standard-chip .mat-chip-remove.mat-icon {
    opacity: 1.0;
}
