<div>
    <mat-toolbar color='primary' class="toolbar mat-elevation-z8">
        <a mat-icon-button class="top-link" routerLink="/dashboard">
            <span class="iconify icon" data-icon="mdi-home"></span>
        </a>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button class="top-link" (click)='saveConfig()'>
            <span class="iconify icon" data-icon="mdi-content-save"></span>
        </button>
        <button mat-icon-button class="top-link" (click)='exportConfig()'>
            <span class="iconify icon" data-icon="mdi-download"></span>
        </button>
        <button mat-icon-button class="top-link" (click)='importConfig()'>
            <span class="iconify icon" data-icon="mdi-upload"></span>
        </button>
    </mat-toolbar>

    <span id="top"></span>
    <div class="card-container" #cardContainer id="cardContainer">
        <div class="card-wrapper">
            <mat-card class="network-name">
                <mat-form-field>
                    <input matInput placeholder="Network" [(ngModel)]="config.network">
                </mat-form-field>
            </mat-card>

            <br />

            <div class="actions">
                <span class="spacer"></span>
                <button mat-button color="primary" (click)="addLink()">Add Link</button>
            </div>

            <table mat-table [dataSource]="linkTableDataSource">
                <ng-container [matColumnDef]="col" *ngFor="let col of linkTableColumns">
                    <th mat-header-cell *matHeaderCellDef> 
                        <span *ngIf="col !== 'isEdit'">
                            {{col}} 
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="linkTableDataSchema[col]" *ngIf="!element.isEdit">
                          <div class="btn-edit" *ngSwitchCase="'isEdit'" >
                            <button mat-button class="button-remove" (click)="deleteLink(element)">Delete</button>
                            <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
                          </div>
                          <span *ngSwitchDefault>
                            {{element[col.toLowerCase()]}}
                          </span>
                        </div>
                        <div *ngIf="element.isEdit">
                          <div class="btn-edit" *ngIf="col === 'isEdit'; else dataField">
                            <button mat-button (click)="element.isEdit = !element.isEdit">Done</button>
                          </div>
                          <ng-template #dataField>
                            <mat-form-field>
                              <mat-label>{{col}}</mat-label>
                              <input [type]="linkTableDataSchema[col]" matInput [(ngModel)]="element[col.toLowerCase()]">
                            </mat-form-field>
                          </ng-template>
                        </div>
                      </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="linkTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: linkTableColumns;"></tr>
            </table>

            <h3 class="mat-subheading-1">Sites</h3>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let site of config.sites; let i = index" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div *ngIf="!site.isSupportedApp"><span class="iconify icon"
                                    [attr.data-icon]="site.mdiicon()"></span></div>
                            <img *ngIf="site.isSupportedApp" class="site-image"
                                src="/assets/supportedapps/{{site.icon}}" />
                            <span class="friendly-name">{{site.name || 'Unknown'}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-config-site [site]="site"></app-config-site>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="deleteSite(site)">Delete</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="actions">
                <span class="spacer"></span>
                <button mat-button color="primary" (click)="addSite()">Add Site</button>
            </div>
        </div>
    </div>

    <button *hideItDevice="['mobile','tablet']" id="config-scroll-to-top" mat-icon-button color="primary" (click)="scrollToTop()">
        <span class="iconify icon" data-icon="mdi-arrow-up"></span>
    </button>
</div>