.toolbar {    
    z-index: 2;
    position: fixed;
}

.iconify.icon {
    font-size: 24px;
}

.top-link { 
    padding-top:5px;
}

.card-container {    
    // max-width: 1000px;
    position: fixed;
    top: 56px;
    padding-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .card-wrapper {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;

        .mat-subheading-1 {
            margin-top: 40px;
        }
    }
    @media screen and (max-width: 1040px) {
        padding-left:16px;
        padding-right: 16px;
    }

    @media screen and (min-width: 600px) {
        top:64px;
    }
}

.network-name {
    display: flex;
    flex: 1 1 100%;
}

.network-name > * {
    width: 100%;
}

.actions {
    display: flex;
}

.spacer {
    display: flex;
    flex: 1 1 auto;
}

#config-scroll-to-top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, .2);
    line-height: 50px;
    height: 50px;
    width: 50px;
    z-index: 3;
    
    ::ng-deep.mat-button-wrapper {
        font-size: 50px;
        line-height: 50px;

        .iconify.icon {
            height: 50px;
            width: 50px;
            font-size: 38px;
            line-height: 40px !important;
        }
    }
}

.site-icon {
    margin-right: 10px;
    color: #70adbb;
}

.site-image {
    height: 24px;
    width: 24px;
    margin: 0;
}

.friendly-name {
    margin-left: 16px;
}